@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("~@/static/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("~@/static/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("~@/static/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  src: url("~@/static/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  src: url("~@/static/fonts/Montserrat-Bold.ttf") format("truetype");
}
