@mixin svg-color($default-color, $hover-color: $default-color) {
  > svg {
    fill: $default-color;
    transition: all 0.3s ease;
  }

  &:hover > svg {
    fill: $hover-color;
  }
}

@mixin default-box($width, $height: $width) {
  width: $width;
  height: $height;

  background: $surface3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 4px 8px 18px 2px rgba(0, 0, 0, 0.15);
  border-radius: 19px;
}

@mixin flex-box($width) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: $width;
  height: $width;

  @content;
}

@mixin image-before($url, $width) {
  padding-left: 22px;
  position: relative;

  &::before {
    content: '';
    @include flex-box($width);
    background-image: $url;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin image-after($url, $width) {
  position: relative;
  padding-right: 22px;

  &::after {
    content: '';
    @include flex-box($width);
    background-image: $url;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}