$surface1: #c4c4c4;
$surface2: #e5e5e5;
$surface3: #f9f9f9;
$surface4: #f2f2f2;
$surface5: #f0f0f0;
$surface6: #8a8a8a;
$surface7: #262626;
$surface8: #E6E6E6;

$brand: #0f2f31;
$white: #ffffff;
$black: #000000;
$red1: #f60404;
$red2: #f14040;
$green: #0e702a;

$text1: #7b7b7b;
$text2: #3d3d3d;
$text3: rgba(#8d8d8d, 0.7);
$text4: #bfbfbf;
